.yarn/*

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
.pnp.*
*.sublime-workspace
*.sublime-project
.DS_Store
.Ulysses-Group.plist
local_backup/
private_docs
*-env/
dist/
node_modules
.parcel-cache
.editorconfig
